spring.application.name=product-service
server.port=8082

spring.datasource.url=jdbc:postgresql://localhost:5434/shopflow_products
spring.datasource.username=your_db_username
spring.datasource.password=your_db_password

spring.jpa.hibernate.ddl-auto=none
spring.jpa.open-in-view=false

spring.data.redis.host=localhost
spring.data.redis.port=6379
spring.cache.type=redis

jwt.secret=your_jwt_secret_here
